<script>
    function detailToggle() {
        return {
            showDetail: false,
            init() {
                document.body.addEventListener('htmx:beforeRequest', (e) => {
                    if (e.detail.target.id === 'detail') {
                        this.showDetail = true;
                    }
                });
                document.body.addEventListener('htmx:afterSwap', (e) => {
                    if (e.target.id === 'detail' && e.target.innerHTML === '') {
                        this.showDetail = false;
                    }
                });
            }
        }
    }
</script>
<div class="flex h-full" x-data="detailToggle()">
    <!-- Left column: Entries list -->
    <div class="pr-4 transition-all duration-400 border-r border-gray-200" :class="showDetail ? 'w-1/2' : 'w-full' ">
        <div class="pb-4">
            <h2 class="text-lg font-semibold text-gray-800">Entries</h2>
        </div>
        <div hx-get="{{path}}creative/entries.html" 
             hx-trigger="load"
             hx-swap="innerHTML"
             class="divide-y divide-gray-200">
        </div>
    </div>

    <!-- Right column: Entry details -->
    <div :class="showDetail ? 'w-1/2' : 'w-0'" class="transition-all duration-400 overflow-hidden">
        <div 
            id="detail" 
            class="h-full pl-4 overflow-y-auto"
        >
            <div class="flex items-center justify-center h-full text-gray-500">
                <div class="text-center">
                    <svg class="mx-auto h-12 w-12" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
                    </svg>
                    <h3 class="mt-2 text-sm font-medium">Select an entry to view details</h3>
                </div>
            </div>
        </div>
    </div>
</div>